
.glyphicon-remove:hover {
    color: red;
}

.remove:hover, .subway:hover {
    cursor: pointer;
}

.subway {
    width: 10%;
    height: 10%;
}

.subwayIcons {
    display: flex;
    justify-content: space-between;
}